body{
    font-size: 16px;
    font-family: "Kumbh Sans";
}
nav{
    background-color: white;
  
}
.frrr{
    display: flex;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 0;
}
nav a{
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}
nav a:hover{
    border-bottom:3px solid #ff7d1a;
    transition: 0.3s;
}
.img {
    align-items: center;
    padding: 0;
    display: flex;
    gap: 12px;
}
.hero{
    padding: 0;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
    padding: 0 10px;
    font-weight: bolder;
}
.close.btn{
   margin-right: 180px;
}
.product-info {
  padding: 20px;
}
.product-preview {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #eee;
}
.product-preview img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}
.product-info h1{
    font-size: 60px;
    margin-bottom: 15px;
    color: #333;
}

.description{
    font-size: 16px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 20px;
}
.price-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.current-price{
    font-size: 20px;
    font-weight: bold;
    color: #333;

}
  .discount{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
  }
.old-price{
    text-decoration: line-through;
    color: #aaa;
    font-size: 16px;
}
.quantity-cart{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quantity-selector{
    background-color: #f0f0f0;
    
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.quantity-selector button{
    background-color: none;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    color: #ff7d1a;

}
.quantity-selector input{
    border: none;
    background: none;
    text-align: center;
    font-size: 16px;
    width: 40px;

}
.add-to-cart{
    background-color: #ff7d1a;
    color: black;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cart-icon{
    position: relative;
    cursor: pointer;
    font-size: 22px;

}
#cart-badge{
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ff7d1a;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}
.cart-dropdown{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width:310px;
   
    padding: 20px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}
.cart-dropdown h4{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.cart-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.cart-item .img{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;

}
.cart-item-info{
    flex-grow: 1;

}
.cart-item-remove{
    color: gray;
    cursor: pointer;
}
.checkout-btn{
    background: #ff7d1a;
    color: black;
    padding:12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;

}
.para{
    text-align: center;
}
/*lightbox*/

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}


.lightbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.lightbox-wrapper img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 10px;
}


.lightbox-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.lightbox-thumbnails img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  object-fit: cover;
}

.lightbox-thumbnails img:hover {
  opacity: 1;
  border: 2px solid white;
}


.nav {
  font-size: 30px;
  color: white;
  cursor: pointer;
  user-select: none;
  margin: 0 20px;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 1100;
}
.delete{
    width: 100%;
    height: auto;
    
}

.add-to-cart:hover{
    background-color: hsl(25, 100%, 94%);

}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .product-info h1 {
    font-size: 18px;
  }

  .description {
    font-size: 16px;
  }
}
@media (min-width: 1024px){
    body{
        padding-left: 70px;
        padding-right: 70px;
    }
    .hamburger{
        display: none;
    }
    nav{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    .product{
        display: flex;
    }
.product-preview {
    padding: 50px;
  position: relative;
  width: 100%;
  height: 500px;
 background-color: white;
}
.product-preview img {
    border-radius: 30px;
}
.price-box{
    display: block;
    line-height: 2;
}
.quantity-cart{
    display: flex;
    flex-direction: row;
}
.add-to-cart{
    width: 250px;
}
.add-to-cart:hover{
    background-color: hsl(25, 100%, 94%);

}
}







